
/*--------------------------------------------------custom Properties----------------------------------------*/

:root {
    --first-color: rgb(217, 0, 98);
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: rgb(20, 25, 45);
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: rgb(80, 20, 100);
    --third-alpha-color: rgba(80, 20, 100, 0.75);
  
    --link-color: rgb(80, 158, 227);
    --link-alpha-color: rgba(80, 158, 227, 0.75);
  
    --bg-color: rgb(245, 245, 245);
    --bg-alpha-color: rgba(245, 245, 245, 0.75);
  }

/*-------------------------------------------------Reseteo de estilos de Bootstrap---------------------------*/

body{
    font-family: 'Raleway', sans-serif;
}